 <!-- busqueda-->
<div class="bg-white shadow-lg rounded-full mx-8 mt-8 p-4 flex justify-between items-center space-x-4">
    <div class="flex flex-col items-center w-full">
      <span class="font-bold">Dónde</span>
      <input type="text" placeholder="Busca tu proximo destino" class="border-0 p-2 rounded-full w-full text-center focus:outline-none">
    </div>
    <div class="flex flex-col items-center w-full">
      <span class="font-bold">Llegada</span>
      <input type="text" placeholder="Agrega Fecha" class="border-0 p-2 rounded-full w-full text-center focus:outline-none">
    </div>
    <div class="flex flex-col items-center w-full">
      <span class="font-bold">Salida</span>
      <input type="text" placeholder="Agrega Fecha" class="border-0 p-2 rounded-full w-full text-center focus:outline-none">
    </div>
    <div class="flex flex-col items-center w-full">
      <span class="font-bold">Quién</span>
      <input type="text" placeholder="¿Cuántos?" class="border-0 p-2 rounded-full w-full text-center focus:outline-none">
    </div>
    <button class="bg-blue-800 text-white px-6 py-3 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5a7 7 0 100 14 7 7 0 000-14zM21 21l-4.35-4.35" />
      </svg>
    </button>
  </div>
  
  <!--hoteles -->
  <section class="my-12">
    <h2 class="text-center text-blue-800 text-3xl font-bold">¡Experimenta y diviértete!</h2>
    <div class="snap-x overflow-x-auto flex space-x-4 p-8">
      
      <!-- foto1 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto1.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto2-->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto2.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto3 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto3.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto4 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto4.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto5 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto5.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- añadir mas  -->
    </div>
  </section>


<!-- actividades -->
  <section class="my-12">
    <h2 class="text-center text-blue-800 text-3xl font-bold">¡Experimenta y diviértete!</h2>
    <div class="snap-x overflow-x-auto flex space-x-4 p-8">
      
      <!-- foto1 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto1.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto2-->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto2.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto3 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto3.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto4 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto4.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto5 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto5.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- añadir mas  -->
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-gray-200 p-8">
    <div class="grid grid-cols-3 gap-4 text-center">
      <div>
        <h3 class="font-bold">datos footer</h3>
        <p>datos footer</p>
        <p>datos footer</p>
        <p>datos footer</p>
      </div>
      <div>
        <h3 class="font-bold">datos footer</h3>
        <p>datos footer</p>
        <p>datos footer</p>
        <p>datos footer</p>
      </div>
      <div>
        <h3 class="font-bold">datos footer</h3>
        <p>datos footer</p>
        <p>datos footer</p>
        <p>datos footer</p>
      </div>
    </div>
    <p class="text-center mt-4 text-blue-600">Datos footer</p>
  </footer>