{{!-- <div id="loginModal" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-5 rounded">
        <h2 class="text-xl font-bold">Iniciar Sesión</h2>
        <form id="loginForm">
            <input type="email" name="email" placeholder="Correo electrónico" required class="mb-2 p-2 border rounded w-full">
            <input type="password" name="password" placeholder="Contraseña" required class="mb-4 p-2 border rounded w-full">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Iniciar Sesión</button>
        </form>
        <button id="closeLoginModalBtn" class="mt-4 text-red-500">Cerrar</button>
    </div>
</div> --}}





<div x-data="{ modalIsOpen: false }" class="ml-4 -mb-1">
    <!-- Button to open the modal -->
    

    <button type="button" @click="modalIsOpen = true" class=" font-bold bg-blue-500 text-white py-1 px-4 rounded hover:bg-blue-600 transition duration-200">Login</button>

    <!-- Modal Background -->
    <div x-show="modalIsOpen"  x-transition.opacity.duration.200ms x-trap.inert.noscroll="modalIsOpen"  @click.self="modalIsOpen = false" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-30 backdrop-blur-sm">
        <!-- Modal Container -->
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative"> 
            <!-- Close Button -->
            <button @click="modalIsOpen = false" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </button>
            <!-- Contenido del modal -->
                <h2 class="text-2xl font-semibold mb-4 text-center">Iniciar Sesión</h2>
                <form id="loginForm" action="/login" method="post">
                <div class="mb-4">
                    <label for="correo" class="block text-gray-700">Email:</label>
                    <input type="email" id="correo" name="correo" class="w-full px-3 py-2 border rounded" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-700">Password:</label>
                    <input type="password" id="password" name="password" class="w-full px-3 py-2 border rounded" required>
                </div>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200">Login</button>
            </form>
            <div class="mt-4 text-center">
                <p>¿No tienes una cuenta? {{>register}}</p>
                <p>Al registrarte, aceptas nuestras <a href="/politicas" class="text-blue-500">políticas de privacidad</a></p>
            </div>
        </div>
    </div>
</div>