<!-- Archivo: views/partials/profileMenu.hbs -->
<div x-data="{ open: false }" class="relative ml-4 -mb-2">
  <!-- Botón de Perfil con Imagen -->
  <button @click="open = !open" class="flex items-center focus:outline-none">
    <!-- Imagen de Perfil en un Círculo -->
    <img src="/img/img.png" alt="" class="w-10 h-10 rounded-full mr-2 border-1 border-gray-800">
    <i class="fa-solid fa-ellipsis-vertical fa-flip-both fa-xl" style="color: #ffffff;">{{user.nombre}}</i>
  </button>

  <!-- Menú Desplegable -->
  <div x-show="open" @click.away="open = false" class="absolute right-0 mt-2 w-40 bg-white rounded-md shadow-lg z-20">
    <a href="/profile/profileEdit" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 rounded-md">
      <i class="fa-solid fa-user fa-xs mr-2"></i>
       Perfil
    </a>
    <a href="/favoritos" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 rounded-md">
      <i class="fa-solid fa-heart fa-xs mr-2" style="color: #dd1515;" ></i>
      Mis Favoritos
    </a>
    <a href="/reservas" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 rounded-md">
      <i class="fa-solid fa-calendar-alt fa-xs mr-2" style="color: #da9a23;"></i>
      Mis Reservas
    </a>
    <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 rounded-md">
      <i class="fa-solid fa-cog fa-xs mr-2"></i>
      Configuración
    </a>
    <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 rounded-md">
      <i class="fa-solid fa-sign-out-alt fa-xs mr-2"></i>
      Cerrar Sesión
    </a>
  </div>
</div>
