<div x-data='{ modalIsOpen: false }'></div>
<!-- Button to open the modal -->
<button
    type='button'
    @click='modalIsOpen = true'
    class='font-bold bg-blue-500 text-white py-1 px-4 rounded-lg hover:bg-blue-600 transition duration-200'
>Registrar Habitacion</button>

<!-- Modal Background -->
<div
    x-show='modalIsOpen'
    x-transition.opacity.duration.200ms
    x-trap.inert.noscroll='modalIsOpen'
    @click.self='modalIsOpen = false'
    class='fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-30 backdrop-blur-sm'
>
    <!-- Modal Container -->
    <div class='bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative'>
        <!-- Close Button -->
        <button
            @click='modalIsOpen = false'
            class='absolute top-2 right-2 text-gray-500 hover:text-gray-700'
        >
            <i class='fa-solid fa-xmark fa-2xl'></i>
        </button>
        <!-- Contenido del modal -->
        <h2 class='text-2xl font-semibold mb-4 text-center'>Registrar Habitacion</h2>
        <form action='/registerHabitacion' method='post' class='space-y-4'>
            <!-- codigo -->
            <div class='flex items-center'>
                <label
                    class='w-32 text-gray-700 font-medium'
                    for='codigo'
                >Código de la Habitacion</label>
                <input
                    type='text'
                    class='form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200'
                    id='codigo'
                    name='codigo'
                    required
                />
            </div>
            <!-- Tipo -->
            <div class='flex items-center'>
                <label
                    class='w-32 text-gray-700 font-medium'
                    for='tipo'
                >Tipo</label>
                <input
                    type='text'
                    class='form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200'
                    id='tipo'
                    name='tipo'
                    required
                />
            </div>
            <!-- Costo -->
            <div class='flex items-center'>
                <label
                    class='w-32 text-gray-700 font-medium'
                    for='costo'
                >Costo</label>
                <input
                    type='text'
                    class='form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200'
                    id='costo'
                    name='costo'
                    required
                />
            </div>
            <!-- Hotel -->
            <div class='flex items-center'>
                <label
                    class='w-32 text-gray-700 font-medium'
                    for='idhotel'
                >Hotel</label>
                <select
                    id='idhotel'
                    name='idhotel'
                    class='form-select mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200'
                    required
                >
                    <option value=''>Seleccione un hotel</option>
                    {{#each hoteles}}
                        <!-- Iterar sobre los hoteles que llegan desde el controlador -->
                        <option value='{{this.id}}'>{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <!-- Botón de envío -->
            <div class='mt-6'>
                <button
                    type='submit'
                    class='w-full bg-green-600 text-white py-2 rounded-md hover:bg-green-700'
                >Registrar Habitacion</button>
            </div>
        </form>
    </div>
</div>