<body class="bg-gray-100">
  <!-- Header -->
  <header class="text-center py-6 bg-white shadow-md">
    <h1 class="text-center text-blue-800 text-3xl font-bold">Explora y Reserva Actividades Turísticas</h1>
    <div class="mt-4 flex justify-center">
      <input type="text" placeholder="Buscar actividades turísticas" class="border-2 border-gray-300 rounded-full px-4 py-2 w-1/2">
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mx-auto mt-10 px-4 flex">
    <!-- Filtros -->
    <aside class="w-1/4">
      <!-- Precio -->
      <div class="mb-6">
        <h2 class="font-semibold text-gray-700">Precio</h2>
        <input type="range" min="0" max="500" class="w-full">
      </div>

      <!-- Accesibilidad -->
      <div class="mb-6">
        <h2 class="font-semibold text-gray-700">Accesibilidad</h2>
        <div class="flex flex-col">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Movilidad reducida</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Sillas de ruedas</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Cochecito de bebé</span>
          </label>
        </div>
      </div>

      <!-- Servicios -->
      <div class="mb-6">
        <h2 class="font-semibold text-gray-700">Servicios</h2>
        <div class="flex flex-col">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Transporte incluido</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Comidas incluidas</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Material/equipo incluido</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox">
            <span class="ml-2">Guía</span>
          </label>
        </div>
      </div>
    </aside>

<!-- Carrusel 2 -->
<div class="my-8"></div>
<h2 class="text-center text-blue-800 text-3xl font-bold">Descubre Nuestras Actividades Turísticas</h2>
<section>
<div class="flex">
    <div class="w-2/12 flex items-center">
        <div class="w-full text-right">
            <button onclick="prev2()" class="p-3 rounded-full bg-white border border-gray-100 shadow-lg mr-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 8.25 3 12m0 0 3.75 3.75M3 12h18" />
                </svg>
            </button>
        </div>
    </div>
    <div id="sliderContainer2" class="w-10/12 overflow-hidden">
        <ul id="slider2" class="flex w-full duration-700">
                              <li class="w-96 p-5">
                        <div class="border rounded-lg p-5 h-full">
                            <img class="h-40 w-full object-cover rounded-md" src="https://picsum.photos/200/400" alt="" class="w-full h-48 object-cover rounded-lg">
                            <h2 class="mt-2 text-2xl font-bold text-gray-700">Actividad 1</h2>
                            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.</p>
                                <button class="mt-4 px-6 py-3 rounded-md bg-blue-700 text-white">Reservar</button>
                        </div>
                    </li>
                    <li class="w-96 p-5">
                        <div class="border rounded-lg p-5 h-full">
                            <img class="h-40 w-full object-cover rounded-md" src="https://picsum.photos/100/300" alt="" class="w-full h-48 object-cover rounded-lg">
                            <h2 class="mt-2 text-2xl font-bold text-gray-700">Actividad 1</h2>
                            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.</p>
                                <button class="mt-4 px-6 py-3 rounded-md bg-blue-700 text-white">Reservar</button>
                        </div>
                    </li> 
                    <li class="w-96 p-5">
                        <div class="border rounded-lg p-5 h-full">
                            <img class="h-40 w-full object-cover rounded-md" src="https://picsum.photos/200/500" alt="" class="w-full h-48 object-cover rounded-lg">
                            <h2 class="mt-2 text-2xl font-bold text-gray-700">Actividad 1</h2>
                            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.</p>
                                <button class="mt-4 px-6 py-3 rounded-md bg-blue-700 text-white">Reservar</button>
                        </div>
                    </li> 
                    <li class="w-96 p-5">
                        <div class="border rounded-lg p-5 h-full">
                            <img class="h-40 w-full object-cover rounded-md" src="https://picsum.photos/200/200" alt="" class="w-full h-48 object-cover rounded-lg">
                            <h2 class="mt-2 text-2xl font-bold text-gray-700">Actividad 1</h2>
                            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.</p>
                                <button class="mt-4 px-6 py-3 rounded-md bg-blue-700 text-white">Reservar</button>
                        </div>
                    </li> 
                    <li class="w-96 p-5">
                        <div class="border rounded-lg p-5 h-full">
                            <img class="h-40 w-full object-cover rounded-md" src="https://picsum.photos/200/600" alt="" class="w-full h-48 object-cover rounded-lg">
                            <h2 class="mt-2 text-2xl font-bold text-gray-700">Actividad 1</h2>
                            <p class="mt-2 text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.</p>
                                <button class="mt-4 px-6 py-3 rounded-md bg-blue-700 text-white">Reservar</button>
                        </div>
                    </li>  
        </ul>
    </div>
    <div class="w-2/12 flex items-center">
        <div class="w-full">
            <button onclick="next2()" class="p-3 rounded-full bg-white border border-gray-100 shadow-lg ml-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
            </button>
        </div>
    </div>
</div>
</section>

<script>
  // Carrusel 1
let slider1 = document.getElementById('slider1');
let sliderContainer1 = document.getElementById('sliderContainer1');
let cards1 = slider1.getElementsByTagName('li');

let elementsToShow1 = 3;
if (document.body.clientWidth < 1000) {
    elementsToShow1 = 2;
} else if (document.body.clientWidth < 1500) {
    elementsToShow1 = 3;
}

let sliderContainerWidth1 = sliderContainer1.clientWidth;
let cardWidth1 = sliderContainerWidth1 / elementsToShow1;

slider1.style.width = cards1.length * cardWidth1 + 'px';
slider1.style.transition = 'margin';
slider1.style.transitionDuration = '1s';

for (let i = 0; i < cards1.length; i++) {
    cards1[i].style.width = cardWidth1 + 'px';
}

function prev1() {
    let marginLeft = +slider1.style.marginLeft.slice(0, -2) || 0;
    if (marginLeft !== 0) {
        slider1.style.marginLeft = marginLeft + cardWidth1 + 'px';
    }
}

function next1() {
    let marginLeft = +slider1.style.marginLeft.slice(0, -2) || 0;
    if (marginLeft !== -(cards1.length - elementsToShow1) * cardWidth1) {
        slider1.style.marginLeft = marginLeft - cardWidth1 + 'px';
    }
}

// Carrusel 2
let slider2 = document.getElementById('slider2');
let sliderContainer2 = document.getElementById('sliderContainer2');
let cards2 = slider2.getElementsByTagName('li');

let elementsToShow2 = 3;
if (document.body.clientWidth < 1000) {
    elementsToShow2 = 2;
} else if (document.body.clientWidth < 1500) {
    elementsToShow2 = 3;
}

let sliderContainerWidth2 = sliderContainer2.clientWidth;
let cardWidth2 = sliderContainerWidth2 / elementsToShow2;

slider2.style.width = cards2.length * cardWidth2 + 'px';
slider2.style.transition = 'margin';
slider2.style.transitionDuration = '1s';

for (let i = 0; i < cards2.length; i++) {
    cards2[i].style.width = cardWidth2 + 'px';
}

function prev2() {
    let marginLeft = +slider2.style.marginLeft.slice(0, -2) || 0;
    if (marginLeft !== 0) {
        slider2.style.marginLeft = marginLeft + cardWidth2 + 'px';
    }
}

function next2() {
    let marginLeft = +slider2.style.marginLeft.slice(0, -2) || 0;
    if (marginLeft !== -(cards2.length - elementsToShow2) * cardWidth2) {
        slider2.style.marginLeft = marginLeft - cardWidth2 + 'px';
    }
}

</script>
</body>