
<body class="bg-gray-100">


    <!-- Main -->
    <div class="max-w-7xl mx-auto mt-8 p-4 grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- Filtros -->
        <div class="col-span-1 bg-white p-4 shadow-md rounded-lg">
            <h2 class="font-bold text-xl mb-4">Filtros</h2>
            <!-- Precio filtro -->
            <div class="mb-4">
                <h3 class="font-semibold text-gray-700 mb-2">Precio</h3>
                <div>
                    <input type="range" class="w-full" min="0" max="1000" value="500">
                    <div class="flex justify-between">
                        <span>Min</span>
                        <span>Max</span>
                    </div>
                </div>
            </div>
            <!-- Tipo de hospedaje -->
            <div class="mb-4">
                <h3 class="font-semibold text-gray-700 mb-2">Tipo de Hospedaje</h3>
                <div>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        Movilidad reducida
                    </label>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2" checked>
                        Sillas de ruedas
                    </label>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        Cochecito de bebé
                    </label>
                </div>
            </div>
            <!-- estrellas -->
            <div class="mb-4">
                <h3 class="font-semibold text-gray-700 mb-2">Estrellas</h3>
                <div>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        <span>5 estrellas</span>
                    </label>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        <span>4 estrellas</span>
                    </label>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        <span>3 estrellas</span>
                    </label>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2" checked>
                        <span>2 estrellas</span>
                    </label>
                    <label class="flex items-center">
                        <input type="checkbox" class="mr-2">
                        <span>1 estrella</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- Hotels -->
        <div class="col-span-3">
            <h2 class="font-bold text-xl mb-4">Hoteles</h2>
  <section class="my-12">
    <div class="snap-x overflow-x-auto flex space-x-4 p-8">
      
      <!-- foto1 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto1.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto2-->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto2.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto3 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto3.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto4 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto4.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto5 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto5.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- añadir mas  -->
    </div>
  </section>
  <section class="my-12">
    <div class="snap-x overflow-x-auto flex space-x-4 p-8">
      
      <!-- foto1 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto1.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto2-->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto2.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      
      <!-- foto3 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto3.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto4 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto4.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- foto5 -->
      <div class="snap-start flex-shrink-0 w-64 h-64 bg-cover bg-center rounded-lg shadow-lg" style="background-image: url('./img/foto5.jpg');">
        <div class="flex justify-end p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.232l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.25l-7.682-7.568a4.5 4.5 0 010-6.364z" />
          </svg>
        </div>
      </div>
      <!-- añadir mas  -->
    </div>
  </section>


            <!-- Paginas -->
            <div class="mt-8 flex justify-center">
                <button class="bg-gray-200 text-gray-700 px-3 py-1 rounded-lg">Anterior</button>
                <div class="flex space-x-1 mx-2">
                    <button class="bg-gray-700 text-white px-3 py-1 rounded-lg">1</button>
                    <button class="bg-gray-200 text-gray-700 px-3 py-1 rounded-lg">2</button>
                    <button class="bg-gray-200 text-gray-700 px-3 py-1 rounded-lg">3</button>
                    <button class="bg-gray-200 text-gray-700 px-3 py-1 rounded-lg">4</button>
                </div>
                <button class="bg-gray-200 text-gray-700 px-3 py-1 rounded-lg">Siguiente</button>
            </div>
        </div>
    </div>
