<div class="flex min-h-screen bg-gray-100">
  <!-- Sidebar -->
  {{>asideProfile}}

  <!-- Main Content -->
  <main class="flex-1 p-8">
    <h1 class="text-2xl font-semibold mb-6">configuración del perfil</h1>
    <!-- Aquí se puede incluir el formulario de edición de perfil o la configuración seleccionada -->
    <h1>aqui es settings</h1>
  </main>
</div>

    